
<div class = "box">
  <h2 class="black-text box-titles">Expenses</h2>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Person</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
	{{username}}
	{{#each transactions}}
		<tr>
			{{#if (isEqual username receiver)}}
				<td class="text-green-500 font-bold">+{{ amount }}</td>
			{{else}}
				<td class="text-red-500 font-bold">-{{ amount }}</td>
			{{/if}}
			<td>{{ sender }}</td>
			<td>{{ date }}</td>
		</tr>
	{{/each}}
  </tbody>
  </table>
</div>
