<div class = "w-full box mx-auto">
  <h2 class="black-text box-titles">Expenses</h2>
	<table class="w-full">
		<thead>
			<tr>
				<th>Amount</th>
				<th>To/From</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		{{#each transactions}}
			<tr>
				{{#if (isEqual ../username receiver)}}
					<td class="text-green-500 font-bold">+{{ amount }}</td>
					<td>{{ sender }}</td>
				{{else}}
					<td class="text-red-500 font-bold">-{{ amount }}</td>
					<td>{{ receiver }}</td>
				{{/if}}
				<td>{{ description }}</td>
				<td>{{ formatDate date }}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>
