<div class = "box dark:bg-gray-600 dark:text-white">
  <h2 class="black-text box-titles dark:text-ES">Receipt Transactions</h2>
<div class="table-responsive">
<table class="table table-light">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each reciept_transactions}}
    <tr>
      <td>{{ id }}</td>
      <td>{{ sender }}</td>
      <td>{{ receiver }}</td>
      <td>{{ amount }}</td>
      <td>{{ description }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>

</div>